* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia";
}

.boxes {
  position: relative;
  margin-top: 50px;
}

.container {
  max-width: 88%;
  margin: 0 auto;
}

.boxes .row {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
  margin-inline: auto;
}

.box {
  border-radius: 10px;
  width: 200px;
  margin: 10px auto;
  height: 240px;
  text-align: center;
  box-shadow: 1px -2px 17px -1px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 1px -2px 17px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 1px -2px 17px -1px rgba(0, 0, 0, 0.62);
  border: none;
  background-color: blanchedalmond;
  transition: transform 0.5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.box:hover {
  transform: scale(1.1);
}

.box .img {
  width: 100%;
  height: 140px;
}

.box img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
}

.box h1 {
  font-size: 20px;
  margin-bottom: 8px;
  max-width: 100%;
  margin: 0 auto;
}

.box h4 {
  margin-bottom: 8px;
  font-size: 16px;
}

.box p {
  font-size: 14px;
  margin-bottom: 8px;
}

button {
  width: 120px;
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 0, 91);
  color: white;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header {
  position: relative;
  background-color: blanchedalmond;
  padding: 10px 0;
}

.header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  text-align: start;
  font-size: 40px;
  color: rgb(0, 0, 91);
}

input {
  padding: 15px 30px;
  border: none;
  background-color: rgb(0, 0, 91);
  color: white;
  font-size: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
}

::placeholder {
  color: white;
}

.btn {
  position: absolute;
  top: 10px;
  left: 200px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.active {
  display: block !important;
}

.header span {
  cursor: pointer;
  color: rgb(0, 0, 91);
  font-size: 14px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dark {
  background-color: hsl(207, 26%, 17%);
  color: white;

  .box {
    background-color: hsl(209, 23%, 22%);
  }

  .img-Eff {
    background-color: hsl(209, 23%, 22%);
  }

  .txt-Eff {
    background-color: hsl(209, 23%, 22%);
  }
}

.dark-Header {
  background-color: hsl(209, 23%, 22%);
  color: rgb(255, 255, 255);
}

.dark-Header h1,
.dark-Header span {
  color: white;
}

.main {
  position: relative;
  padding-top: 50px;
}

.main .container {
  max-width: 76%;
  margin: 0 auto;
}

.main .row {
  display: flex;
  justify-content: center;
  gap: 140px;
  margin: 40px 0;
}

.main .img {
  width: 45%;
}

.main img {
  width: 100%;
}

.main p {
  font-size: 16px;
  margin-bottom: 8px;
}

.main h1 {
  font-size: 35px;
  margin-bottom: 8px;
}

.main h4 {
  margin-bottom: 8px;
  font-size: 24px;
}

.main-eff {
  position: relative;
  margin-top: 80px;
}

.eff .container-Eff {
  max-width: 76%;
  margin: 0 auto;
}

.row-Eff {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 30px 0;
}

.img-Eff {
  width: 35%;
  height: 250px;
  background-color: rgb(213, 213, 213);
}

.txt-Eff {
  width: 20%;
  height: 300px;
  background-color: rgb(213, 213, 213);
}

.srch {
  position: relative;
  margin-top: 20px;
}

.srch .container {
  max-width: 90%;
  margin: 0 auto;
}

.srch .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

select {
  padding: 15px 40px;
  border: none;
  background-color: rgb(0, 0, 91);
  color: white;
  font-size: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
}

option {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 22px;
  }

  .header span {
    font-size: 12px;
  }

  .srch .row {
    flex-direction: column;
    gap: 20px;
  }

  .main .row {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
  }

  .main .img {
    width: 100%;
  }

  .main-eff {
    margin-left: 50px;
    margin-top: 100px;
  }

  .row-Eff {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
  }

  .img-Eff {
    width: 85%;
    height: 150px;
    background-color: rgb(213, 213, 213);
  }

  .txt-Eff {
    width: 45%;
    height: 250px;
    background-color: rgb(213, 213, 213);
  }

  input {
    padding: 15px 50px;
  }

  select {
    padding: 15px 60px;
  }
  option{
    font-size: 12px;
  }

}